body {
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#countDisplay {
    font-size: 100px;
    margin: 20px;
    display: block;
}
button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}